body {
  margin:0;
  background-color: lightblue;

}
#topBlackBar {
  border-top: 20px solid #0066cc;

}
h1 {
  color: white;
  margin:0;
  text-align: center;
  background-color: #0066cc;
  border-bottom: 20px solid #0066cc;
}

#submit {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 19px 28px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;

}

#submit:hover {
  display: block;
  width: 100%;
  border: none;
  background-color: #04446D;
  color: white;
  padding: 19px 28px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;

}

#talk {
text-align: center;
font-size: 40px;
margin:0;
}