<div id="talk" value="{{ datastuff }}">
ensure spacing
</div>
<script>
    var target = document.getElementById("talk")
    target.style.color = "lightblue"
    target.style.backgroundColor = "lightblue"
    target.style.border = "lightblue"
<!--    target.textContent = target.value-->
</script>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/circle.scss') }}">-->

<!--<div class="wrapper">-->
<!--  <div class="c100 p100 orange">-->
<!--      <span>85%</span>-->
<!--      <div class="slice">-->
<!--        <div class="bar"></div>-->
<!--        <div class="fill"></div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->


<!--<table id="talk" value="{{ datastuff }}">-->
<!--    <td>Select the Map and input your month range</td>-->
<!--    <td>Select the Map and input your month range</td>-->
<!--    <td>Select the Map and input your month range</td>-->
<!--</table>-->
<!--<style>-->


<!--</style>-->
<!--<script>-->
<!--    var target = document.getElementById("talk")-->
<!--    target.style.color = "lightblue"-->
<!--&lt;!&ndash;    target.textContent = target.value&ndash;&gt;-->
<!--</script>-->
