<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>EF-None</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"
            type="module"
    ></script>
    <h1> EF-None</h1>
    <div class="map">
        {% include "map.html" %}
    </div>
    <div class="controls">
        {% include "controls.html" %}
    </div>
    <div class="feedback">
        {% include "datapage.html" %}
    </div>
    <div class="button">
        <input type="submit" id="submit" value="Calculate">
    </div>


</head>
</html>